@font-face {
    font-family: "Arcade Classic";
    src: url(Resources/Fonts/ARCADECLASSIC.TTF) format("truetype");
  }

button {
    color: black;
    background-color: white;
    opacity: 0.7;
    font-family: "Arcade Classic";
    font-size: 12pt;
    border: 0;
    transition: 0.5s;
}

button:hover {
  opacity: 1;
}

input {
  font-family: "Arcade Classic";
  border-radius: 0.5em;
}